:root {
  --green: color-mix(in srgb, aqua, lime 60%);

  --color-primary: color-mix(in srgb, blue, aqua 60%);
  --color-secondary: light-dark(
      color-mix(in srgb, var(--green), green 40%),
      var(--green)
    );

  --color-black: black;
  --color-white: white;

  --bg-light: color-mix(in srgb, var(--color-primary), #f2f2f2 95%);
  --bg-dark: color-mix(in srgb, var(--color-primary), #191919 95%);

  --font-primary: "Plus Jakarta Sans", sans-serif;
  --font-heading: var(--r-main-font);
  --font-secondary: "EB Garamond", serif;
  --font-code: "Sometype Mono", monospace;

  --link-dark: var(--color-primary);
  --link-light: var(--color-primary);
}

body {
  color-scheme: light dark;
  color: light-dark(var(--color-dark), var(--color-light));
  background-color: light-dark(var(--bg-light), var(--bg-dark));
  min-block-size: 100vh;
  margin: 0;
  box-sizing: border-box;
  font: 100% / 1.5 var(--font-primary);
}

header {
  background-color: black;
  color: white;
  padding-block: 2rem;
  margin-block-end: 2rem;
}

h1 {
  font-weight: 650;
  margin: unset;
}

a  {
  color: light-dark(var(--link-dark), var(--link-light));
  text-underline-offset: 0.125em;
  text-decoration-color: currentColor;
  transition: text-decoration-color 250ms ease-in-out;

  &:hover,
  &:visited:hover {
    text-decoration-color: color-mix(in srgb, currentColor, transparent 50%);
  }
  
  &:visited {
    --link-dark: color-mix(in srgb, var(--color-primary), var(--bg-light) 20%);
    --link-light: color-mix(in srgb, var(--color-primary), var(--bg-dark) 20%);
  }
}

ol {
  padding: 0;
}

li {
  font-size: 1.25em;

  &::marker {
    color: var(--color-secondary);
  }
}

img {
  max-inline-size: 100%;
}

.max-width {
  width: min(100%, 65ch);
  margin-inline: auto;
}

.grid {
  display: grid;
  grid-template-columns: minmax(20%, 10rem) auto;
  gap: 4rem;
}

.grid-col-2 {
  grid-column: 2;
}